.header {
    background: blue;
    color: aqua;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-header {
    background: rgb(177, 96, 96);
    color: rgb(20, 139, 130);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.avatar {
    background: rgb(104, 103, 103);
    height: 200px;
    width: 300px;
    margin-top: 10px;
    border-radius: 100px;
}